body {
  font-family: Helvetica, sans-serif;
  font-size: 200%%
  color: #999999
}

#content {
  background-image: linear-gradient(#D3C4BE,#D3C4BE,#ffe8b2);
  border: solid 3px #999999;
  height: 200vh;
  padding: 100px;
}

h1 {
  color: white;
  font-family: Helvetica;
  font-size: 500%;
    letter-spacing: 8px;
  padding-bottom: 60px;
  border-bottom: solid 3px #999999;
  text-shadow: 3px 3px 3px #a39ebd;
}

img {
  float: right;
  padding: 5px;
  border: solid 4px #999999;
  margin: 10px;
  width: 500px;
  height: auto;
  border-radius: 25px 25px;
  object-fit: contain;
  border: dotted 2px #999999;
  transform: rotate(5deg);
  box-shadow: 5px 5px 5px #a39ebd;
}


h2 {
  color: white;
  font-size: 300%;
  word-spacing: 2px;
  letter-spacing: 5px;
  text-shadow: 3px 3px 3px #a39ebd;
}

#lists {
  color: white;
  font-size: 150%;
  font-family: 'Josefin Slab', serif;
  line-height: 2em;
  word-spacing: 5px;
  font-size: 135%;
}

p {
  font-family: 'Josefin Slab', serif;
  line-height: 2em;
  word-spacing: 5px;
  font-size: 135%;
}

p{
 /*Got this code from https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Animations/Using_CSS_animations */
 animation-duration: 3s;
 animation-name: slidein;
}

@keyframes slidein {
 from {
   margin-left: 100%;
   width: 300%;
 }

 to {
   margin-left: 0%;
   width: 100%;
 }
}

html {
  animation-duration: 3s;
  animation-name: zoom;
}

@keyframes zoom {
  from{
    margin-top:-25%;
  }

  to {
    margin-top:0%;
  }

}

#sidebar {
  position: sticky;
  right: 60%;
  width: 33%;
  min-width: 300px;
  height: auto;
  Font-size: 75%;
  color: white;
  background-color: #999999;
  border: dotted 2px white;
  padding: 10px;
}
