body {
  font-family: Helvetica, sans-serif;
  font-size: 120%
  color: #999999
}

#content {
  background-color: #D3C4BE;
  border: solid 3px #999999;
  height: 350vh;
  width: auto;

}

.flex1{
  display:flex;
  justify-content: flex-end;
}

.flex2{
  display:flex;
  justify-content: flex-end;
}

.flex3 img{
  display:flex;
  flex-direction: column;
  justify-content: flex-end;
}

.flex4{
  display:flex;
  justify-content: flex-end;
}

.flex5{
  display:flex;
  justify-content: center;
}


header {
  color: white;
  font-family: Helvetica;
  font-size: 350%;
  width:800px;
  height;auto;
  letter-spacing: 8px;
  border: solid 3px #999999;

}

img {
  width:500px;
  height: auto;
  border: solid 3px #999999;

}

.ideas {
  width:800px;
  height;auto;
  border: solid 3px #999999;


}

.challenge {

  width:800px;
  height;auto;
  border: solid 3px #999999;

}

.results {

  width:500px;
  height;auto;
  border: solid 3px #999999;

}

h2 {
  color: white;
  font-size: 250%;
  word-spacing: 2px;
  letter-spacing: 5px;
  display: inline-block;
  width: 50%;
}

p {
  font-family: 'Josefin Slab', serif;
  line-height: 2em;
  word-spacing: 5px;
  font-size: 135%;
  display: inline-block;
}

footer {
  font-family: 'Josefin Slab', serif;
  display:block;
  width:800px;
  height;auto;
  border: solid 3px #999999;

}

#links {
  position: sticky;
  top:0;
  font-family: 'Josefin Slab',serif;
  border: solid 3px #999999;

}

  #sidebar {
    width: 33%;
    min-width: 300px;
    height: 475px;
    font-family: 'Josefin Slab',serif;
    Font-size: 100%;
    color: #004370;
    background-color: white;
    border: solid 3px #999999;
    float:left;

  }

  .sidepic img{
    width:200px;
    height:auto;
    display:block;
    margin-left: auto;
    margin-right: auto;
  }
