body {
  font-family: Helvetica, sans-serif;
  font-size: 120%
  color: #999999
}

#content {
  background-color: #D3C4BE;
  border: solid 3px #999999;
  height: 245vh;
  padding: 25px;
}

h1 {
  color: white;
  font-family: Helvetica;
  font-size: 350%;
  letter-spacing: 8px;
  padding-bottom: 60px;
  border-bottom: solid 3px #999999
}

img {
  float: left;
  padding: 5px;
  border: solid 4px #999999;
  margin: 10px;
  width: 900px;
  height: auto;
  display: inline-block;
}

#bigideas {
  padding-top: 10px;
  padding-bottom: 75px;
  border-bottom: dotted 2px #999999;
}

#challenge {
  padding-bottom: 75px;
  border-bottom: dotted 2px #999999;
}

#results {
  padding-bottom: 75px;
  border-bottom: dotted 2px #999999;
}

h2 {
  color: white;
  font-size: 250%;
  word-spacing: 2px;
  letter-spacing: 5px;
  display: inline-block;
  width: 50%;
}

p {
  font-family: 'Josefin Slab', serif;
  line-height: 2em;
  word-spacing: 5px;
  font-size: 135%;
  display: inline-block;
}

#links {
  position: sticky;
  top:0;
  font-family: 'Josefin Slab',serif;
}

#sidebar {
  display: inline-block;
  position: absolute;
  left: 63%;
  width: 33%;
  min-width: 300px;
  height: auto;
  Font-size: 75%;
  color: white;
  background-color: #999999;
  border: dotted 2px white;
  padding: 10px;

}
