body {
  font-family: Helvetica, sans-serif;
  font-size: 120%
  color: #999999
}

#content {
  background-color: #D3C4BE;
  border: solid 3px #999999;
  height: 400vh;
  width: 150vh;
  padding: 25px;
}

h1 {
  color: white;
  font-family: Helvetica;
  font-size: 350%;
  letter-spacing: 8px;
  padding-bottom: 60px;
  border-bottom: solid 3px #999999
}

#bigideas {
  padding-top: 10px;
  padding-bottom: 75px;
  border-bottom: dotted 2px #999999;
}

#challenge {
  padding-bottom: 75px;
  border-bottom: dotted 2px #999999;
}

#results {
  padding-bottom: 75px;
  border-bottom: dotted 2px #999999;
}

h2 {
  color: white;
  font-size: 250%;
  word-spacing: 2px;
  letter-spacing: 5px;
  display: inline-block;
  width: 50%;
}

p {
  font-family: 'Josefin Slab', serif;
  line-height: 2em;
  word-spacing: 5px;
  font-size: 135%;
  display: inline-block;
}

#links {
  position: sticky;
  top:0;
  font-family: 'Josefin Slab',serif;
}

#float {
  width: 30%;
  float: left;
}

#center-horz {
  width: 30%;
  text-align: center;
}

#center-img {
  max-width: 150px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;

}

#center-both {
  max-width:150px;
  width: 30%;
  margin:0;
  padding: 25px;
  position: absolute;
  top: 200%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  height: 200px;
  display: block;

}
