body {
  font-family: Helvetica, sans-serif;
  font-size: 120%
  color: #999999
}

#content {
  background-color: #D3C4BE;
  border: solid 3px #999999;
  height: 400vh;
  padding: 25px;
}

h1 {
  color: white;
  font-family: Helvetica;
  font-size: 350%;
  letter-spacing: 8px;
  padding-bottom: 60px;
  border-bottom: solid 3px #999999
}

img {
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
  border: solid 4px #999999;
  margin: 10px;
  width: 600px;
  height: auto;
}

#bigideas {
  padding-bottom: 75px;
  border-bottom: dotted 2px #999999;
}

#challenge {
  padding-bottom: 75px;
  border-bottom: dotted 2px #999999;
}

#results {
  padding-bottom: 75px;
  border-bottom: dotted 2px #999999;
}

#feedback {
  padding-bottom: 75px;
  border-bottom: dotted 2px #999999;
}

h2 {
  color: white;
  font-size: 250%;
  word-spacing: 2px;
  letter-spacing: 5px;
}

p {
  font-family: 'Josefin Slab', serif;
  line-height: 2em;
  word-spacing: 5px;
  font-size: 135%;
}
